* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow: hidden;
}

.login-section, .info-section {
    flex: 1;
    padding: 50px;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.login-section h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.login-section p {
    color: #888;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 20%;
    padding: 9px;
    border: 1px solid #eee;
    border-radius: 12px;
    font-size: 17px;
    position: absolute;
    background: #eee;
}




   input::placeholder {
      /*margin-left: 23.5rem;
      */text-align: right;
      transform: translate(-70%, -5%)  ;

}
.login-button {
    width: 51%;
    padding: 15px;
    border: none;
    border-radius: 24px;
    background-color: #5a67d8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin: 0px 87px;
    box-shadow: 4px 6px 7px #aaaaaa;
}

.login-others {
    margin-top: 30px;
    text-align: center;
}

.login-others p {
    margin-bottom: 20px;
    color: #888;
}

.social-login {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.google {
    background-color: #fff;
    position: relative;
    border: 1px solid #eee;
}

.facebook {
    background-color: #fff;
    border: 1px solid #eee;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e7ff;
    position: relative;
    background-image: url(/images/pic.png);
    background-size: cover;
}

.info-box {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info-box p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.info-box img {
    /* max-width: 100%; */
    border-radius: 15px;
}

